body {
    font-family: 'Roboto', sans-serif;
    color: #09424B
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #4DC2BD;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #4DC2BD;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

.header-background {
    position: relative;
    background: url('../images/background.png') no-repeat center center/cover;
    height: 105vh;
    padding: 1.5rem;
}

.header-background-mobile {
    position: relative;
    background: url('../images/background.png') no-repeat center center/cover;
    height: 50vh;
    padding: 1.5rem;
}

.header-overlay {
    position: relative;
    background: url('../images/header-background.png') no-repeat center center/cover;
    border-radius: 15px;
    height: 100%
}

.contact {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    float: right;
    padding-top: 1rem;
    padding-right: 1rem;
}

.nav-image {
    height: 80px;
    padding: 1rem;
}

.footer-image {
    height: 80px;
    padding: 1rem;
}

.header-inner {
    color: white;
    margin-left: 4rem;
    padding-right: 1rem;
}

.header-inner-mobile {
    color: white;
    margin-left: 1rem;
    padding-right: 1rem;
}

.blue-container {
    color: white;
    background-color: #4DC2BD;
    border-radius: 10px;
    box-shadow: 0 34px 38px 0 rgba(77, 194, 189, 0.6), 0 36px 50px 0 rgba(77, 194, 189, 0.6);
    margin: 2rem;
}

.blue-container-desktop {
    color: white;
    background-color: #09424B;
    border-radius: 10px;
    box-shadow: 0 34px 38px 0 rgba(8, 63, 73, 0.6), 0 36px 50px 0 rgba(8, 63, 73, 0.6);
    margin: 2rem;
    padding: 1rem;
}

.small-container {
    position: relative;
    background: url('../images/container-background-03.png') no-repeat center center/cover;
    border-radius: 15px;
    color: white;
}

#hidden-div {
    display: none;
}